{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Dish type List {% endblock title %}

{% block body %} {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}
  
<section class="pt-9 pb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <h1 class="row justify-content-center">
          Dish types
          <a href="{% url 'catalog:dish-type-create' %}" class="btn btn-primary">
            Create dish type
          </a>
        </h1>
        {% if dish_type_list %}
          {% include "includes/search_from.html" %}
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          {% for dish_type in dish_type_list %}
            <tr>
              <td>{{ dish_type.id }}</td>
              <td><a class="link-primary" href="{% url 'catalog:dish-type-detail' pk=dish_type.pk %}"> {{ dish_type.name }}</a></td>
            </tr>
          {% endfor %}
          </table>
        {% else %}
          <p>There are no dish types.</p>
        {% endif %}
      
        {% include "includes/pagination.html" %}
      
      </div>
    </div>
  </div>
</section>
  
{% endblock content %}
  