{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Restaurant Kitchen Service {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/curved-images/curved.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">RESTAURANT KITCHEN SERVICE</h1>
          <p class="lead text-white mt-3">Management system for cooks<br/> Here you can create new dishes & dish types and also specify cooks are responsible for every dishes cooking </p>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>
  
<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span id="state1" countTo="70">{{ num_cooks }}</span>+</h1>
              <h5 class="mt-3">Cooks</h5>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"> <span id="state2" countTo="15">{{ num_dishes }}</span>+</h1>
              <h5 class="mt-3">Dishes</h5>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary" id="state3" countTo="4">{{ num_dish_types }}</h1>
              <h5 class="mt-3">Dish types</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<section class="my-1 pt-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
          <h4>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</h4>
        </div>
        <div class="col-md-5 ms-auto">
          <div class="position-relative">
            <img class="max-width-50 w-100 position-relative z-index-2" src="{% static 'img/illustrations/sign-up.png' %}" alt="image">
          </div>
        </div>
      </div>
    </div>
</section>
  
<section class="pt-1 pb-1 bg-gray-100" id="count-stats">
  <div class="container">
    <div class="text-start mb-5 mt-5">
      <h3 class="text-black z-index-1 position-relative text-center">We are trusted by:</h3>
    </div>
    <div class="row mb-7">
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <img class="w-100 opacity-7" src="{% static 'img/logos/gray-logos/logo-coinbase.svg' %}" alt="logo">
      </div>
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <img class="w-100 opacity-7" src="{% static 'img/logos/gray-logos/logo-nasa.svg' %}" alt="logo">
      </div>
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <img class="w-100 opacity-7" src="{% static 'img/logos/gray-logos/logo-netflix.svg' %}" alt="logo">
      </div>
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <img class="w-100 opacity-7" src="{% static 'img/logos/gray-logos/logo-pinterest.svg' %}" alt="logo">
      </div>
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <img class="w-100 opacity-7" src="{% static 'img/logos/gray-logos/logo-spotify.svg' %}" alt="logo">
      </div>
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <img class="w-100 opacity-7" src="{% static 'img/logos/gray-logos/logo-vodafone.svg' %}" alt="logo">
      </div>
    </div>
  </div>
</section>  
  
{% endblock content %}
